<div class="about-intro">
  <div class='text-box'>
  <h6>Opportunity Analysis</h6>
  </div>
</div>
<div class="about-explanation">
  <div class='text-box'><p>The process begins by gathering key pieces of information and then calculating the return on the investment.
    Ideally an investment will have at least a 20% return on the initial investment cost within the first year. By determing how
    much it will cost to research, develop, market, and other costs, a company can determine whether a product is worth investing in.
    Running an opportunity analisys also provides a space to look at what will be required to make the investment profitable. Whether
    that means reducing production costs, increasing price, or finding ways to meet a specific sales goal.
    <br><br>
    Before beginning this process it is important to gather estimates on how much it will cost to research, develop, market,
    outfit production lines, determine if new employee's, workspaces, equipment will be needed, and anything else that will go into your initial costs.
    An estimate on the cost of goods (i.e: material, labor, burden, and other production costs) is also necessary to complete this process.
  </p>
  </div>
</div>

<div class="about-body-investment">
  <div class='text-box'>
    Investment Cost: This will be everthing that is spent on the product before it begins selling and is considered the amount you are
    investing into the product prior to seeing any return. Things that will be factored into this cost are research, development, marketing,
    any costs associated with altering production lines, training employee's, purchasing new equipemnt, hiring new employees, or any other costs
    that could fall into this.
    <br><br>
    Materials: The material cost is simply the cost of the material to make one item including anything that comes with the item upon sale.
    Production Costs: Production costs is the combination of the labor and burden that goes into producing a single item.
    Cost of Goods: Once the material and production costs are determined they are combined to make up the total cost of goods for a single item
    <br><br>
    Mark Up: The cost of goods is multiplied by the mark up in order to find the sale price. and profit for the product.
    Sale Price: Sale price is how much the item will be sold for.
    Profit Per Unit: Profit per unit is calculated by taking the cost of goods out of the sale price.
  </div>
</div>


<div class="about-body-units">
  <div class='text-box'>
    Units sold in the first year will ideally correllate directly with a contract for a set number of items but realistically it will be a best guess estimate or goal of how many units will be sold in the first year.
    Starting Percentage: Unless a contract for a set number of items is the driving force behind producing a specific product the assumption is that a product will not meet 100% of the Units sold in the first year.
    This is because it will take time to build product/brand awarness, secure retail customers, and everything else necessary to introduce a new product. For this reason the estimate for units sold in the first year
    is broken into units sold per month and then multiplied by a starting percentage that represents more realistic sales for a new product. Starting percentage will always be low and then increment up to 100% over
    the first year as the product gains more traction to meet 100% of it's monthly goal. The end result is that the initial estimate for units sold in the first year will actually be almost 60% of the original
    estimate if the starting percentage is left at 25%.
  </div>
</div>

<div class="about-body-profit">
  <div class='text-box'>
    Profit breakdown per month: After the unit total for each month is determined the profit and return on investment(ROI) can be calculated for each month. This information will also allow projections to be made
    regarding how to make the product profitable. The results page will display two different calculations for the year, the first will be a profit breakdown per month and the second is the ROI per month.
    Profit per month will be factored by subtracting the investment cost from the first month and then adding the result to the next month. Regardless of wether the first month is a negative or positive result,
    adding it to the next month will provide an accurate representation of the return on the investment. ROI is then calculated by taking the value for each month and dividing it by the investment cost giving a
    percentage that represents how much return has been acheived at each month. In order for a product to be considered profitable it should have at least a 20% ROI in the final month of the first year.
  </div>
</div>

<div class="about-body-roi">
  <div class='text-box'>
    In the event that the ROI is not at least 20% a product should then be re-evaluated to find ways of either reducing costs or increasing the profit per unit in order to be profitable.
    Market research is key at this point as the opportunity for sales will factor heavily into determining the viability of a product. If in the end there isn't a way to
    reduce costs, increase sales, or even if the price point for the product is too high for the market, it is advisable not go forward with that investment.

    The last calculations that will be run provide insight into when an investment will break even, hit 20% profit, or how to make 20% profit on the current estimates.
    The break even point is calculated by dividing the investment cost by the profit per unit, which returns the number of units to be sold to hit zero net profit.
    A 20% profit is calculated almost the same way except the investment cost is multiplied by 1.2 first. Lastly the mark up necessary to achieve 20% profit is calculated by
    ((investment cost X 1.2)/final estimated units per year)/cost of goods.
  </div>
</div>

<div class="about-button-container">
  <div class="save-button" ng-click="cleanStartFunc(); loginCheck('/analysis', 'start a new analysis')">
      Start a new Quick Project?
  </div>

  <div class="next-button" ng-click="cleanStartFunc(); loginCheck('/analysis/bestCase', 'start a new analysis')">
      Start a new In-Depth Project?
  </div>
</div>
