<div class="home-intro">
  <div class='text-box'>
  <h6>Opportunity Analysis is an effective method of determing the viability of a product</h6>
  </div>
</div>
<div class="home-explanation">
  <div class='text-box'>The process begins by gathering key pieces of information and then calculating the return on the investment.
    Ideally an investment will have at least a 20% return on the initial investment cost within the first year. By determing how
    much it will cost to research, develop, market, or any other costs, a company can determine whether a product is worth investing in.
    Running an opportunity analisys also provides a space to look at what will be required to make the investment profitable whether
    that means reducing production costs, increasing price, or finding ways to meet a specific sales goal.
  </div>
</div>
<div class="home-closing">
  <div class='text-box'>
    Before beginning this process it is important to gather estimates on how much it will cost to research, develop, market,
    outfit production lines, determine if new employee's, workspaces, equipment will be needed, and anything else that will go into your investment costs.
    An estimate on the cost of goods (i.e: material, labor, burden, and other production costs) is also necessary to complete this process.
  </div>
</div>
<div class="home-button-container">
  <div class="save-button" ng-click="cleanStartFunc(); loginCheck('/analysis', 'start a new analysis')">
      Start a new Quick Project?
  </div>

  <div class="next-button" ng-click="cleanStartFunc(); loginCheck('/analysis/bestCase', 'start a new analysis')">
      Start a new In-Depth Project?
  </div>
</div>
