<div class="analysis-intro">
  <h3>Opportunity Analysis: Best Case</h3>
</div>
<div class="analysis-body">
  <div class="input-container">
  <div class="input-text-box">
    What is the name of your product?
  </div>
  <div class="input-box">
    <input type="text" ng-model="product.name" value="">
  </div>
  <div class="input-text-box">
    Describe your product:
  </div>
  <div class="input-box">
    <textarea ng-model="product.description" rows="4" cols="40" placeholder="This description should be as thorough as possible and can incldue details such as appearance and application"></textarea>
  </div>
  <div class="input-text-box">
    What is the opportunity or target market for this product?
  </div>
  <div class="input-box">
    <textarea ng-model="product.opportunity" rows="4" cols="40" placeholder="List markets, target companies, audiences, or even specific contracts that are part of this opportunity."></textarea>
  </div>
    </div>
</div>

<div class="button-container">
  <div class="save-button" ng-click="create(product)">
      Save this Product
  </div>

  <div class="next-button" ui-sref="bestCaseInitialCost">
      Next: Investment Costs
  </div>

</div>
